In [1]:
import os
from glob import glob

import dask
import dask.bag as db
import dask.dataframe as dd
from distributed import Client
from dask_jobqueue import SLURMCluster

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
ratings = pd.read_parquet('val_small_set.parquet')

In [4]:
ratings

       userId   timestamp  movieId  rating
0         463  1145459479     3448     3.0
1         463  1145460004     5378     4.0
2         463  1145460012     1690     4.0
3         463  1145460019     1552     4.5
4         463  1145460023     3753     4.0
...       ...         ...      ...     ...
14372     422  1010279788     2670     3.0
14373     422  1010279788     2841     3.0
14374     422  1010279788     3157     3.0
14375     422  1010279817     2070     4.0
14376     422  1010279817     2806     2.0

[14377 rows x 4 columns]

In [5]:
user_movie = list(ratings.groupby('userId')['movieId'].apply(list))

In [7]:
input = list(zip(user_movie,popularity))

       Unnamed: 0  userId  movieId  rating   timestamp
0               0       1        1     4.0   964982703
1               1       1        3     4.0   964981247
2               2       1        6     4.0   964982224
3               3       1       47     5.0   964983815
4               4       1       50     5.0   964982931
...           ...     ...      ...     ...         ...
74134       98466     606    68480     1.5  1244573613
74135       98472     606    72603     3.0  1349083017
74136       98476     606    95105     2.5  1349083032
74137       98477     606    97225     3.5  1368460191
74138       98478     606    98243     3.0  1368460316

[74139 rows x 5 columns]